<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="下拉加载最新信息"
          refreshingSpinner="circles"
          refreshingText="...">
        </ion-refresher-content>
      </ion-refresher>

  <div class="padding-20 white-block" style="padding-top: 30px;">
    <div class="margin-top-10 flex-row flex-center margin-left-10 margin-right-10">
      <div>
        <img class="icon-30" src="{{uploadpath}}resource/nouser.png" />
      </div>
      <div class="h5 username">
        用户姓名用户姓名用户姓名
      </div>
      <div class="searchbar flex-1 h6 txt-gray flex-row flex-center">
        <div class="txt-gray margin-left-10">
          <ion-icon name="search" class="h4"></ion-icon>
        </div>
        <div class="h6 txt-gray">
          三年高考5年模拟
        </div>
      </div>
    </div>
  </div>
  <div>
    <ion-scroll class="catscroll" scrollX="true">
      <div class="flex-row flex-center flex-nowrap">
        <div *ngFor="let item of catlist;let i =index;" class="padding-20 {{item.active=='Y'?'txt-primary':'h5'}}" (click)="catclick(i)">
          {{item.name}}
        </div>
      </div>
    </ion-scroll>
  </div>
  <div class="white-block">
    <ion-slides loop="false" (ionSlideDidChange)="slideChanged(e)"  >
      <ion-slide *ngFor="let catitem of catlist;" class="bodyslider">
        
        <ion-scroll scrollY="true" style="height:100%;">
          <div class="white-block margin-top-5">
            <ion-scroll class="greatescroll" scrollX="true">
              <div class="flex-row flex-nowrap">
                <div class="greatecourse-item margin-top-10" *ngFor="let item of catitem.recommcourse;let i = index"  (click)="openCourse(item.id)">
                  <div>
                    <img src="{{uploadpath}}course/{{item.cover}}" />
                  </div>
                  <div class="margin-top-5 h5 title">{{item.name}}</div>
                </div>
              </div>
            </ion-scroll>
          </div>
          <div class="margin-top-5" >
            <div *ngFor="let item of catitem.courselist;" class="padding-20 flex-row flex-center"  (click)="openCourse(item.id)">
              <div class="flex-1 margin-right-10">
                <div class="coursttitle h5">{{item.name}}</div>
                <div class="flex-row margin-top-10 flex-bottom">
                  <div class="flex-1 h6 txt-gray" >{{item.refsource}}</div>
                  <div class="flex-1 h6 txt-gray text-right" >{{item.viewcount}}阅读</div>
                </div>
              </div>
              <div>
                <img class="coursecover" src="{{uploadpath}}course/{{item.cover}}" />
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>