page-about {
    .username{
        width:px(80);
        margin-left: px(10);
        margin-right: px(10);
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .searchbar{
        height: px(27);
        background: #e5e5e5;
        border-radius: px(15);
    }
    .catscroll{
        background: #f8f8f8;
        height: px(42);
        width: px(375);
    }

    .bodyslider{
        height: calc( 100vh - 180px );
    }
    .bodyslider .swiper-slide{
        align-items: unset;
        -webkit-align-items:unset;
    }
    .bodyslider .slide-zoom{
        text-align: left;
        height: 100%;
    }


    .greatescroll{
        height: px(170);
    }
    .greatecourse-item{
        padding-left: px(10);
        padding-right:px(10);
        width:  px(205);
    }

    .greatecourse-item  img{
        width: px(185);
        height: px(108);
        border-radius: px(5);

    }
    .greatecourse-item .title{
        width:  px(185);
        max-width:  px(185);
        height: px(20);
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
    }
    .coursttitle{
        height: px(38);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;  //这里是在第二行有省略号
        overflow: hidden;
    }
    .coursecover{
        height: px(68);
        width:px(110);
        border-radius: 5px;
    }
    .recommpic{
        width: px(107);
        height: px(70);
        border-radius: 5px;
    }
    .playicon{
        width: px(24);
        height: px(24);
    }
    .bigcoursecover{

        height: px(180);
        width:100%;
        border-radius: 5px;
    }
    .videopricec{
        position: absolute;
        right: px(10);
        padding:4px;
        padding-left:10px;
        padding-right:10px;
        background-color:#FF9800 ;
        margin-top: 10px;
        border-radius: 2px;
        color:white;
    }
    .videoplaytime{

        position: absolute;
        right: px(20);
        border:1px solid white;
        margin-top: -40px;
        border-radius: 2px;
        color:white;
        padding:4px;
        padding-left:10px;
        padding-right:10px;
    }
}
